In [1]:
import pandas as pd

# Assignment 1: Streamlined Data Ingestion

Now that we have a good idea of what we want the data prep on transactions looks like,
let's push that to the read_csv function. 

Keep an eye on the memory usage before and after. 

* Change the column names to 'Date', 'Store_Number', and 'Transaction_Count'.
* Skip the first row of data.
* Convert columns to the appropriate datatypes. 

Then create the columns we created in the assign assignment in Section 3, by chaining assign with read_csv. 

Some starter code has been provided for you below. Because the dataframe object returned by read_csv doesn't have a name, we need to use a lambda function to refer to the dataframe.

`transactions.assign(
    target_pct=transactions["transactions"] / 2500,
    met_target=(transactions["transactions"] / 2500) >= 1,
    bonus_payable=((transactions["transactions"] / 2500) >= 1) * 100,
    month=transactions["date"].dt.month,
    day_of_week=transactions["date"].dt.dayofweek,
)`

The first one should look like:

`target_pct = lambda x: (x["Transaction_Count"] / 2500)`

In [103]:
columns=['Date', 'Store_Number', 'Transaction_Count']
datatypes={'Store_Number':'int16', 'Transaction_Count':'int32'}
transactions = pd.read_csv('transactions.csv',
                           names=columns,
                           dtype=datatypes,
                           parse_dates=['Date'],
                           skiprows=[0]
                          ).assign(Target_PCT = lambda x: (x["Transaction_Count"] / 2500),
                                   Met_Target = lambda x: (x["Transaction_Count"] / 2500)>=1,
                                   Bonus_Payable = lambda x: ((x["Transaction_Count"] / 2500)>=1)*100,
                                   Month = lambda x: x["Date"].dt.month,
                                   DayOfWeek = lambda x: x["Date"].dt.dayofweek
                                  )

transactions.head()

,Date,Store_Number,Transaction_Count,Target_PCT,Met_Target,Bonus_Payable,Month,DayOfWeek
0,2013-01-01,25,770,0.3080,False,0,1,1
1,2013-01-02,1,2111,0.8444,False,0,1,2
2,2013-01-02,2,2358,0.9432,False,0,1,2
3,2013-01-02,3,3487,1.3948,True,100,1,2
4,2013-01-02,4,1922,0.7688,False,0,1,2

# Assignment 2: Write to Excel Sheets

Write the data in the transactions dataframe you created above into an Excel workbook.

Write out a separate sheet for each year of the data.

If you prefer, you can write each year of data to a separate csv file.

In [85]:
#Writing to separate CSV files
for year in range(2013, 2018):
    df = transactions.loc[transactions['Date'].dt.year==year]
    df.to_csv(f'{year}.csv', index=False)

In [106]:
#Writing to an excel workbook
with pd.ExcelWriter('TRNS.xlsx', date_format='DD-MM-YYYY', engine='xlsxwriter') as writer:
    for year in range(2013, 2018):
        df = transactions.loc[transactions['Date'].dt.year==year]
        df.to_excel(writer, sheet_name=f'Year {year}', index=False)